.line{
            background-color:bisque;
        }
        #new{
            font-family: cursive;
        }
        h1{
            background-color:chocolate;
        }

        .parent p{
            color:chartreuse;
        }

       p:hover{
            color:green;
        }
        .border{
            border: 2px solid black;
            padding-left: 50px;
            border-radius: 20px;
            border-style: dotted;
        }
        .margin{
            border: 3px solid black;
        }
           
        .margin1{
            border: 3px solid black;
        }
        .static{
            position: static;
        }
        .position{
            border: 2px solid rgb(238, 130, 139);
        }
        .relative{
            position: absolute;
            top: 20px;
            left: 60px;
        }
        
        .page{
            height: 100vh;
        }

        .fixed{
            position: fixed;
            top: 50px;
        }
        .sticky{
            position:sticky;
            top: 0;
        }
        .inline{
               display:inline;
        }
        .flex-container{
            display: flex;
            /* flex-direction: column; */
            justify-content: space-around;
            align-items:center ;
            background-color: beige;
            height: 100vh;
        }
        .item{
            background-color: peachpuff;
            border: 2px solid brown;
            height: 100px;
            width: 50px;
        }
        .item{
            /* flex-grow: 2; */
            flex-shrink: 0;
        }
        .navbar{
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            padding-right: 20px;
            color: black;
            background-color: aliceblue;
            border-radius: 50px;
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .container{
            display: flex;
            gap: 30px;
        }
        .grid-container{
            display: grid;
            grid-template-rows: 100px 100px 100px ;
            grid-template-columns: 100px 100px 100px 100px;
            gap: 20px;
        }
        .grid-container div{
            background-color: plum;
            border: 2px solid purple;
        }
        .item1{
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .item2{
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .item3{
            grid-column-start: 4;
        }
        .item4{
            grid-column-start: 1;
            grid-column-end: 5;
        }
        @media (max-width:720px) {
        .navbar{
                display:flex;
                flex-direction: column;
        }
        .container{
            display:flex;
            flex-direction: column;
        }
            }
        }

        
    