.line{
            background-color:bisque;
        }
        #new{
            font-family: cursive;
        }
        h1{
            background-color:chocolate;
        }

        .parent p{
            color:chartreuse;
        }

        p:hover{
            color:green;
        }
        .border{
            border: 2px solid black;
            padding-left: 50px;
            border-radius: 20px;
            border-style: dotted;
        }
        .margin{
            border: 3px solid black;
        }
           
        .margin1{
            border: 3px solid black;
        }
        .static{
            position: static;
        }
        .position{
            border: 2px solid rgb(238, 130, 139);
        }
        .relative{
            position: absolute;
            top: 20px;
            left: 60px;
        }
        
        .page{
            height: 100vh;
        }

        .fixed{
            position: fixed;
            top: 50px;
        }
        .sticky{
            position:sticky;
            top: 0;
        }
        .inline{
               display:inline;
        }
        .flex-container{
            display: flex;
            flex-direction: column;
        }
        .flex-container {
            background-color: peachpuff;
            border: 2px solid brown;
            height: 100px;
        width: 100px;
        }
        .item2{
            flex-grow: 2;
            flex-shrink: 0;
        }
    